div.pizza-card-div {
  border: 1px solid black;

  display: flex;
  flex-flow: column nowrap;
  width: 300px;
}

.pizza-card-div img {
  width: 100%;
  height: 200px;
}

div.pizza-text {
  height: 200px;
  background-color: lightgray;
  contain: layout;
  padding: 0px 5px;
}

.pizza-text span {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

div.pizza-text h2 {
  text-align: center;
  margin: 5px 0px;
}

div.pizza-text p {
  text-align: left;
  margin: 5px 10px;
}

div.pizza-selector {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  contain: layout;
  cursor: pointer;
}

div.pizza-selector h1 {
  margin: 0px;
  text-align: center;
}

div.pizza-selector span {
  position: absolute;
  right: 1px;
  bottom: 1px;
}
