.select-pizza-div * {
  box-sizing: border-box;
}

div.select-pizza-div {
  contain: layout;
  margin: 0px 10px;
}

.select-pizza-div h2 {
  text-align: left;
}

#price-test {
  position: absolute;
  right: 10px;
  top: 10px;
}
